<div class="mt-6 lg:mt-0 rounded shadow bg-white">
    <h3 class="text-2xl font-bold p-4 md:p-6">Terms & Conditions</h3>
    <div class="flex flex-wrap border-t border-gray-100">
      <div class="w-full md:w-1/2 border-r border-gray-100 p-4 md:px-8 ">
        <form action="" class="w-full max-w-full text-base">
          <div class="flex flex-wrap -mx-3 mb-6">
            <label class="block tracking-wide mb-2" for="tc">
              Enter your Term & Condition
            </label>
            <textarea class="appearance-none block w-full bg-gray-100 border border-gray-100 rounded-lg py-3 px-4 leading-tight focus:outline-none focus:bg-white resize-none focus:border-gray-200" id="tc" placeholder="T&C" rows="15" ></textarea>
          </div>
          <div class="flex justify-end">
            <button type="submit" class="bg-green-400 hover:bg-green-700 text-white font-bold py-2 px-8 rounded-lg uppercase">Submit</button>
          </div>
        </form>
      </div>
      <div class="w-full md:w-1/2 p-4 md:p-8">
        <form action="" class="w-full max-w-full h-full text-base">
          <div class="flex flex-col flex-start justify-center h-full -mx-3">
            <label class="block tracking-wide mb-2">
              Upload PDF file
            </label>
            <div class="relative m-auto">
              <button class="btn py-20 px-16 border-2 border-gray-500 rounded-lg bg-gray-100 border-dashed flex items-center flex-col">
                <img src="assets/upload.png" >
                <span>Upload the pdf file</span>
              </button>
              <input type='file' class="absolute opacity-0 inset-0 m-auto" accept=".pdf">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>