<div class="p-4 md:p-8 mt-6 lg:mt-0 rounded shadow bg-white">
    <!-- <h3 class="font-bold text-2xl">Add University</h3> -->
    <div class="header flex items-baseline justify-start">
      <img class="w-4 h-4 mr-4 cursor-pointer" src="assets/back.png" routerLink="../../../pages/university">
      <h3 class="text-2xl font-bold mb-6">Add University</h3>
    </div>
    <form class="mt-6" [formGroup]="addUniversityForm" (ngSubmit)= "onSubmit()">
      <div class="flex flex-col mb-6">
        <label for="addUNiversity" class=" block tracking-wide mb-2">Enter your University name:</label>
        <input class="rounded-lg resize-none bg-gray-100 border text-lg text-gray-300 border-gray-100 focus:border-gray-300 focus:outline-none p-4"
        formControlName="name" placeholder="University name" maxlength="30"/>
        <app-show-error [control]="f.name"></app-show-error>

        <!-- <div *ngIf="f.name.errors">bdsbfhsd</div> -->
      </div>
      <div class="flex flex-col mb-6">
        <label for="addCity" class="block tracking-wide mb-2">Enter your City name:</label>
        <input class="rounded-lg resize-none bg-gray-100 border text-lg text-gray-300 border-gray-100 focus:border-gray-300 focus:outline-none p-4"
        formControlName="city" placeholder="City name"  maxlength="30"/>
        <app-show-error [control]="f.city"></app-show-error>

      </div>
      <div class="flex justify-end">
        <!-- [class.hover:bg-green-700]='addUniversityForm?.valid' -->
          <button type="submit" [disabled]="addUniversityForm?.invalid"
          [class.bg-green-700]='addUniversityForm?.valid' 
           class="bg-green-300  text-white font-bold py-2 px-8 rounded-full uppercase">Save</button>
      </div>
    </form>
  </div>