<div class="p-4 md:p-8 mt-6 lg:mt-0 rounded shadow bg-white">
    <h3 class="text-2xl text-gray-400 font-bold mb-6">Privacy Policy</h3>
    <!-- <div class="flex justify-end"> 
      <a class="rounded-md py-2 px-4 bg-blue-500 text-white">Edit FAQ</a>
    </div> -->
    <div class="flex flex-col">
        <!-- ------------------ -->
      <div class="flex flex-col text-base mb-6">
        <!-- <h4 class="title mb-3 font-semibold text-lg">What is Lorem Ipsum?</h4> -->
        <div class="description text-gray-200">
          <p>
            Thank you for choosing to be part of our community at Paddle LLC ("Company", "we", "us", "our"). We are committed to protecting your personal information and your right to privacy. If you have any questions or concerns about this privacy notice, or our practices with regards to your personal information, please contact us at paddle.business@gmail.com.
          </p><br>
          <p>
            When you use our mobile application, as the case may be (the "App") and more generally, use any of our services (the "Services", which include the App), we appreciate that you are trusting us with your personal information. We take your privacy very seriously. In this privacy notice, we seek to explain to you in the clearest way possible what information we collect, how we use it and what rights you have in relation to it. We hope you take some time to read through it carefully, as it is important. If there are any terms in this privacy notice that you do not agree with, please discontinue use of our Services immediately.
          </p><br>
          <p>This privacy notice applies to all information collected through our Services (which, as described above, includes our App), as well as, any related services, sales, marketing or events.
          </p><br>
          <p>Please read this privacy notice carefully as it will help you understand what we do with the information that we collect.</p>


        </div>
      </div>
      <!-- ----------------------- -->
      <div class="flex flex-col text-base mb-6">
        <h4 class="title mb-3 font-semibold text-lg">TABLE OF CONTENTS</h4>
        <div class="description text-gray-200">
          <ul>
            <li>
                1. WHAT INFORMATION DO WE COLLECT?
        </li>
        <li>
            2. HOW DO WE USE YOUR INFORMATION?
          </li>
           <li>
            3. WILL YOUR INFORMATION BE SHARED WITH ANYONE?
          </li>
          <li>
            4. DO WE USE COOKIES AND OTHER TRACKING TECHNOLOGIES?
          </li>
          <li>
            5. HOW DO WE HANDLE YOUR SOCIAL LOGINS?
          </li>
          <li>
            6. HOW LONG DO WE KEEP YOUR INFORMATION?
          </li>
          <li>
            7. HOW DO WE KEEP YOUR INFORMATION SAFE?
          </li>
          <li>
            8. WHAT ARE YOUR PRIVACY RIGHTS?
          </li>
          <li>
            9. CONTROLS FOR DO-NOT-TRACK FEATURES
          </li>
          <li>
            10. DO CALIFORNIA RESIDENTS HAVE SPECIFIC PRIVACY RIGHTS?
          </li>
          <li>
            11. DO WE MAKE UPDATES TO THIS NOTICE?
          </li>
          <li>
            12. HOW CAN YOU CONTACT US ABOUT THIS NOTICE?
          </li>
          <li>
            13. HOW CAN YOU REVIEW, UPDATE OR DELETE THE DATA WE COLLECT FROM YOU?
          </li>
         
    </ul>
        </div>
      </div>
      <!-- ---------------------------- -->
      <div class="flex flex-col text-base mb-6">
        <h4 class="title mb-3 font-semibold text-lg">1. WHAT INFORMATION DO WE COLLECT?</h4>
        <div class="description text-gray-200">
          <p>
            Personal information you disclose to us:<br><br>

In Short:  We collect personal information that you provide to us.<br><br>

We collect personal information that you voluntarily provide to us when you register on the App, express an interest in obtaining information about us or our products and Services, when you participate in activities on the App (such as by posting messages in our online forums or entering competitions, contests or giveaways) or otherwise when you contact us.
The personal information that we collect depends on the context of your interactions with us and the App, the choices you make and the products and features you use. The personal information we collect may include the following:
Personal Information Provided by You. We collect names; phone numbers; email addresses; usernames; passwords; debit/credit card numbers; contact preferences; contact or authentication data; and other similar information.
Social Media Login Data. We may provide you with the option to register with us using your existing social media account details, like your Facebook, Twitter or other social media account. If you choose to register in this way, we will collect the information described in the section called "HOW DO WE HANDLE YOUR SOCIAL LOGINS?" below.
All personal information that you provide to us must be true, complete and accurate, and you must notify us of any changes to such personal information.
          </p><br>
        </div>
        <div class="description text-gray-200">
            <p><strong>
               (a). Information automatically collected</strong><br><p>
            <p>In Short:  Some information — such as your Internet Protocol (IP) address and/or browser and device characteristics — is collected automatically when you visit our App.
                We automatically collect certain information when you visit, use or navigate the App. This information does not reveal your specific identity (like your name or contact information) but may include device and usage information, such as your IP address, browser and device characteristics, operating system, language preferences, referring URLs, device name, country, location, information about how and when you use our App and other technical information. This information is primarily needed to maintain the security and operation of our App, and for our internal analytics and reporting purposes.
                Like many businesses, we also collect information through cookies and similar technologies.</p><br>
                <p>The information we collect includes:</p><br>
                <div>
                    <ul>
                        <li><strong>Log and Usage Data.</strong>
                            Log and usage data is service-related, diagnostic, usage and performance information our servers automatically collect when you access or use our App and which we record in log files. Depending on how you interact with us, this log data may include your IP address, device information, browser type and settings and information about your activity in the App (such as the date/time stamps associated with your usage, pages and files viewed, searches and other actions you take such as which features you use), device event information (such as system activity, error reports (sometimes called 'crash dumps') and hardware settings).
                        </li><br>
                        <li><strong>Device Data</strong>
                            We collect device data such as information about your computer, phone, tablet or other device you use to access the App. Depending on the device used, this device data may include information such as your IP address (or proxy server), device and application identification numbers, location, browser type,hardware model Internet service provider and/or mobile carrier, operating system and system configuration information.
                        </li><br>
                        <li><strong>Location Data. </strong>
                            We collect location data such as information about your device's location, which can be either precise or imprecise. How much information we collect depends on the type and settings of the device you use to access the App. For example, we may use GPS and other technologies to collect geolocation data that tells us your current location (based on your IP address). You can opt out of allowing us to collect this information either by refusing access to the information or by disabling your Location setting on your device. Note however, if you choose to opt out, you may not be able to use certain aspects of the Services.
                        </li><br>

                    </ul>
                </div>
 
          </div>
          <div class="description text-gray-200">
            <p><strong>
               (b). Information collected through our App</strong><br><p>
            <p>In Short:  We collect information regarding your geolocation, mobile device, push notifications, when you use our App.</p><br>
            <p>If you use our App, we also collect the following information:</p><br>
                <div>
                    <ul>
                        <li><strong>Geolocation Information.</strong>
                            We may request access or permission to and track location-based information from your mobile device, either continuously or while you are using our App, to provide certain location-based services. If you wish to change our access or permissions, you may do so in your device's settings.
                        </li><br>
                        <li><strong>Mobile Device Access.</strong>
                            We may request access or permission to certain features from your mobile device, including your mobile device's bluetooth, camera, contacts, microphone, sensors, sms messages, social media accounts, storage, and other features. If you wish to change our access or permissions, you may do so in your device's settings.
                        </li><br>
                        <li><strong>Mobile Device Data </strong>
                            We automatically collect device information (such as your mobile device ID, model and manufacturer), operating system, version information and system configuration information, device and application identification numbers, browser type and version, hardware model Internet service provider and/or mobile carrier, and Internet Protocol (IP) address (or proxy server). If you are using our App,
                            we may also collect information about the phone network associated with your mobile device, your mobile device’s operating system or platform, the type of mobile device you use, your mobile device’s unique device ID and information about the features of our App you accessed.
                        </li><br>
                        <li><strong>Push Notifications.</strong>
                            We may request to send you push notifications regarding your account or certain features of the App. If you wish to opt-out from receiving these types of communications, you may turn them off in your device's settings.
                        </li><br>
                    </ul>
                </div>
                <p>This information is primarily needed to maintain the security and operation of our App, for troubleshooting and for our internal analytics and reporting purposes.</p>
 
          </div>
          <div class="description text-gray-200">
            <p><strong>
               (c). Information collected from other sources</strong><br><p>
            <p>In Short:  We may collect limited data from public databases, marketing partners, social media platforms, and other outside sources.</p><br>
            <p>In order to enhance our ability to provide relevant marketing, offers and services to you and update our records, we may obtain information about you from other sources, such as public databases, joint marketing partners, affiliate programs, data providers, social media platforms, as well as from other third parties. This information includes mailing addresses, job titles, email addresses, phone numbers, intent data (or user behavior data), Internet Protocol (IP) addresses, social media profiles, social media URLs and custom profiles, for purposes of targeted advertising and event promotion. If you interact with us on a social media platform using your social media account (e.g. Facebook or Twitter), we receive personal information about you such as your name, email address, and gender. Any personal information that we collect from your social media account depends on your social media account's privacy settings.</p><br>
                


         </div>

    </div>
<!-- --------------------------- -->
    <div class="flex flex-col text-base mb-6">
        <h4 class="title mb-3 font-semibold text-lg">2-HOW DO WE USE YOUR INFORMATION?</h4>
        <div class="description text-gray-200">
          <p>
            In Short:  We process your information for purposes based on legitimate business interests, the fulfillment of our contract with you, compliance with our legal obligations, and/or your consent.<br><br>

We use personal information collected via our App for a variety of business purposes described below. We process your personal information for these purposes in reliance on our legitimate business interests, in order to enter into or perform a contract with you, with your consent, and/or for compliance with our legal obligations. We indicate the specific processing grounds we rely on next to each purpose listed below.
<br><br>
We use the information we collect or receive:
          </p><br>
        </div>
        <div class="description text-gray-200">
            
                <div>
                    <ul>
                        <li>
                            To facilitate account creation and logon process. If you choose to link your account with us to a third-party account (such as your Google or Facebook account), we use the information you allowed us to collect from those third parties to facilitate account creation and logon process for the performance of the contract. See the section below headed "HOW DO WE HANDLE YOUR SOCIAL LOGINS?" for further information.
                        </li>
                        <li>
                            To post testimonials. We post testimonials on our App that may contain personal information. Prior to posting a testimonial, we will obtain your consent to use your name and the content of the testimonial. If you wish to update, or delete your testimonial, please contact us at paddle.business@gmail.com and be sure to include your name, testimonial location, and contact information.
                        </li>
                        <li>
                            Request feedback. We may use your information to request feedback and to contact you about your use of our App.
                        </li>
                        <li>
                            To enable user-to-user communications. We may use your information in order to enable user-to-user communications with each user's consent.
                        </li>
                        <li>
                            To manage user accounts. We may use your information for the purposes of managing our account and keeping it in working order.
                        </li>
                        <li>
                            To send administrative information to you. We may use your personal information to send you product, service and new feature information and/or information about changes to our terms, conditions, and policies.
                        </li>
                        <li>
                            To protect our Services. We may use your information as part of our efforts to keep our App safe and secure (for example, for fraud monitoring and prevention).
                        </li>
                        <li>
                            To enforce our terms, conditions and policies for business purposes, to comply with legal and regulatory requirements or in connection with our contract.
                        </li>
                        To respond to legal requests and prevent harm. If we receive a subpoena or other legal request, we may need to inspect the data we hold to determine how to respond.
                        <li>
                            Fulfill and manage your orders. We may use your information to fulfill and manage your orders, payments, returns, and exchanges made through the App.
                        </li>
                        <li>
                            Administer prize draws and competitions. We may use your information to administer prize draws and competitions when you elect to participate in our competitions.
                        </li>
                        <li>
                            To deliver and facilitate delivery of services to the user. We may use your information to provide you with the requested service.
                        </li>
                        <li>
                            To respond to user inquiries/offer support to users. We may use your information to respond to your inquiries and solve any potential issues you might have with the use of our Services.
                        </li>
                        <li>
                            To send you marketing and promotional communications. We and/or our third-party marketing partners may use the personal information you send to us for our marketing purposes, if this is in accordance with your marketing preferences. For example, when expressing an interest in obtaining information about us or our App, subscribing to marketing or otherwise contacting us, we will collect personal information from you. You can opt-out of our marketing emails at any time (see the "WHAT ARE YOUR PRIVACY RIGHTS?" below).
                        </li>
                        <li>
                            Deliver targeted advertising to you. We may use your information to develop and display personalized content and advertising (and work with third parties who do so) tailored to your interests and/or location and to measure its effectiveness.
                        </li>
                    </ul>
                </div>
 
          </div>
         

    </div>
<!-- ------------------------------------------------ -->
<div class="flex flex-col text-base mb-6">
    <h4 class="title mb-3 font-semibold text-lg">3-WILL YOUR INFORMATION BE SHARED WITH ANYONE?</h4>
    <div class="description text-gray-200">
      <p>
        In Short:  We only share information with your consent, to comply with laws, to provide you with services, to protect your rights, or to fulfill business obligations.
<br><br>
We may process or share your data that we hold based on the following legal basis:
      </p><br>
    </div>
    <div class="description text-gray-200">
        <div>
            <ul>
                <li><strong>Consent.</strong>
                    We may process your data if you have given us specific consent to use your personal information for a specific purpose.
                </li><br>
                <li><strong>Legitimate Interests</strong>
                    We may process your data when it is reasonably necessary to achieve our legitimate business interests.
                </li><br>
                <li><strong>Performance of a Contract: </strong>
                    Where we have entered into a contract with you, we may process your personal information to fulfill the terms of our contract.
                </li><br>
                <li><strong>Legal Obligations:</strong>
                    We may disclose your information where we are legally required to do so in order to comply with applicable law, governmental requests, a judicial proceeding, court order, or legal process, such as in response to a court order or a subpoena (including in response to public authorities to meet national security or law enforcement requirements).
                </li><br>
                <li><strong>Vital Interests:</strong>
                    We may disclose your information where we believe it is necessary to investigate, prevent, or take action regarding potential violations of our policies, suspected fraud, situations involving potential threats to the safety of any person and illegal activities, or as evidence in litigation in which we are involved.
                </li><br>
           </ul>   
        </div>
        <br>
           <p>More specifically, we may need to process your data or share your personal information in the following situations:</p>
           <div>
            <ul>
                <li><strong>Business Transfers.</strong>
                    We may share or transfer your information in connection with, or during negotiations of, any merger, sale of company assets, financing, or acquisition of all or a portion of our business to another company
                </li><br>
                <li><strong>Offer Wall</strong>
                    Our App may display a third-party hosted "offer wall." Such an offer wall allows third-party advertisers to offer virtual currency, gifts, or other items to users in return for the acceptance and completion of an advertisement offer. Such an offer wall may appear in our App and be displayed to you based on certain data, such as your geographic area or demographic information. When you click on an offer wall, you will be brought to an external website belonging to other persons and will leave our App. A unique identifier, such as your user ID, will be shared with the offer wall provider in order to prevent fraud and properly credit your account with the relevant reward. Please note that we do not control third-party websites and have no responsibility in 
                    relation to the content of such websites. The inclusion of a link towards a third-party website does not imply an endorsement by us of such website.
                </li>
            </ul>
        </div>
      </div>
</div>
<!-- ---------------------------- -->
<div class="flex flex-col text-base mb-6">
    <h4 class="title mb-3 font-semibold text-lg">4-DO WE USE COOKIES AND OTHER TRACKING TECHNOLOGIES?</h4>
    <div class="description text-gray-200">
      <p>
        In Short:  We may use cookies and other tracking technologies to collect and store your information.
<br><br>
We may use cookies and similar tracking technologies (like web beacons and pixels) to access or store information. Specific information about how we use such technologies and how you can refuse certain cookies is set out in our Cookie Notice.
      </p><br>
    </div>
</div>
<!-- ---------------------------------------- -->
<div class="flex flex-col text-base mb-6">
    <h4 class="title mb-3 font-semibold text-lg">5. HOW DO WE HANDLE YOUR SOCIAL LOGINS? </h4>
    <div class="description text-gray-200">
      <p>
        In Short:  If you choose to register or log in to our services using a social media account, we may have access to certain information about you.
<br><br>
Our App offers you the ability to register and login using your third-party social media account details (like your Facebook or Twitter logins). Where you choose to do this, we will receive certain profile information about you from your social media provider. The profile information we receive may vary depending on the social media provider concerned, but will often include your name, email address, friends list, profile picture as well as other information you choose to make public on such social media platform. 
      </p><br>
      <p>We will use the information we receive only for the purposes that are described in this privacy notice or that are otherwise made clear to you on the relevant App. Please note that we do not control, and are not responsible for, other uses of your personal information by your third-party social media provider. We recommend that you review their privacy notice 
        to understand how they collect, use and share your personal information, and how you can set your privacy preferences on their sites and apps.

      </p>
    </div>
</div>
<!-- --------------------------------------------- -->
<div class="flex flex-col text-base mb-6">
    <h4 class="title mb-3 font-semibold text-lg">6. HOW LONG DO WE KEEP YOUR INFORMATION? </h4>
    <div class="description text-gray-200">
      <p>
        In Short:  We keep your information for as long as necessary to fulfill the purposes outlined in this privacy notice unless otherwise required by law.
<br><br>
We will only keep your personal information for as long as it is necessary for the purposes set out in this privacy notice, unless a longer retention period is required or permitted by law (such as tax, accounting or other legal requirements). No purpose in this notice will require us keeping your personal information for longer than the period of time in which users have an account with us.

      </p><br>
      <p>
        When we have no ongoing legitimate business need to process your personal information, we will either delete or anonymize such information, or, if this is not possible (for example, because your personal information has been stored in backup archives), then we will securely store your personal information and isolate it from any further processing until deletion is possible.
      </p>
    </div>
</div>

<!-- -------------------- -->
<div class="flex flex-col text-base mb-6">
    <h4 class="title mb-3 font-semibold text-lg">7. HOW DO WE KEEP YOUR INFORMATION SAFE?</h4>
    <div class="description text-gray-200">
      <p>
        In Short:  We aim to protect your personal information through a system of organizational and technical security measures.
<br><br>
We have implemented appropriate technical and organizational security measures designed to protect 
the security of any personal information we process. However, despite our safeguards and efforts
 to secure your information, no electronic transmission over the Internet or information storage technology can be guaranteed to be 100% secure, so we cannot promise or guarantee that hackers, cybercriminals,
  or other unauthorized third parties will not be able to defeat our security, and improperly collect, access, steal, or modify your information. Although we will do our best to protect your personal information,
      </p><br>
     <p>transmission of personal information to and from our App is at your own risk. You should only access the App within a secure environment.</p>
    </div>
</div>
<!-- -------------------- -->
<div class="flex flex-col text-base mb-6">
    <h4 class="title mb-3 font-semibold text-lg">8. WHAT ARE YOUR PRIVACY RIGHTS?</h4>
    <div class="description text-gray-200">
      <p>
        In Short:  You may review, change, or terminate your account at any time.
<br><br>
If you are a resident in the EEA or UK and you believe we are unlawfully processing your personal information, you also have the right to complain to your local data protection supervisory authority. You can find their contact details here:
</p>
<a href="http://ec.europa.eu/justice/data-protection/bodies/authorities/index_en.htm."
class="no-underline hover:underline text-blue-500 text-lg">http://ec.europa.eu/justice/data-protection/bodies/authorities/index_en.htm.</a>
      <p>If you are a resident in Switzerland, the contact details for the data protection authorities are available here: <a
        class="no-underline hover:underline text-blue-500 text-lg" href="https://www.edoeb.admin.ch/edoeb/en/home.html.">https://www.edoeb.admin.ch/edoeb/en/home.html</a></p>
      <p>If you have questions or comments about your privacy rights, you may email us at paddle.business@gmail.com.</p>

      <p>Account Information</p><br>
      <p>If you would at any time like to review or change the information in your account or terminate your account, you can:</p>
      Log in to your account settings and update your user account.<br><br>
      <p>Upon your request to terminate your account, we will deactivate or delete your account and information from our active databases. However, we may retain some information in our files to prevent fraud, troubleshoot problems, assist with any investigations, enforce our Terms of Use and/or comply with applicable legal requirements.</p> 
      <p><strong>Cookies and similar technologies:</strong> Most Web browsers are set to accept cookies by default. If you prefer, you can usually choose to set your browser to remove cookies and to reject cookies.
         If you choose to remove cookies or reject cookies,
          this could affect certainfeatures or services of our App. To opt-out of interest-based advertising by advertisers on our App visit <a href="http://www.aboutads.info/choices/." 
          class="no-underline hover:underline text-blue-500 text-lg"></a> </p> 
      <p><strong>Opting out of email marketing:</strong> 
        You can unsubscribe from our marketing email list at any time by clicking on the unsubscribe link in the emails that we send or by contacting us using the details provided below. You will then be removed from the marketing email list — however, we may still communicate with you, for example to send you service-related emails that are necessary for the administration and use of your account, to respond to service requests, or for other non-marketing purposes. To otherwise opt-out, you may:</p> 
        Contact us using the contact information provided.
    </div>
</div>

<!-- ---------------------- -->
<div class="flex flex-col text-base mb-6">
    <h4 class="title mb-3 font-semibold text-lg">9. CONTROLS FOR DO-NOT-TRACK FEATURES</h4>
    <div class="description text-gray-200">
      <p>
        Most web browsers and some mobile operating systems and mobile applications include a Do-Not-Track ("DNT") feature or setting you can activate to signal your privacy preference not to have data about your online browsing activities monitored and collected. At this stage no uniform technology standard for recognizing and implementing DNT signals has been finalized. As such, we do not currently respond to DNT browser signals or any other mechanism that automatically communicates your choice not to be tracked online. If a standard for online tracking is adopted that we must follow in the future, we will inform you about that practice in a revised version of this privacy notice. 
        </p>
    </div>
</div>
<!-- -------------------- -->
<div class="flex flex-col text-base mb-6">
    <h4 class="title mb-3 font-semibold text-lg">10. DO CALIFORNIA RESIDENTS HAVE SPECIFIC PRIVACY RIGHTS?</h4>
    <div class="description text-gray-200">
      <p>
        In Short:  Yes, if you are a resident of California, you are granted specific rights regarding access to your personal information.
<br><br>
California Civil Code Section 1798.83, also known as the "Shine The Light" law, permits our users who are California residents to request and obtain from us, once a year and free of charge, information about categories of personal information (if any) we disclosed to third parties 
for direct marketing purposes and the names and addresses of all third parties with which we shared personal information in the immediately preceding calendar year. If you are a California resident and would like to make such a request, 
please submit your request in writing to us using the contact information provided below.
      </p><br>
     <p>If you are under 18 years of age, reside in California, and have a registered account with the App, you have the right to request removal of unwanted data that you publicly post on the App. To request removal of such data, please contact us using the contact information provided below, and include the email address associated with your account and a statement that you reside in California. We will make sure the data is not publicly displayed on the App, but please be aware that the data may not be completely or comprehensively removed from all our systems (e.g. backups, etc.).</p>
    </div>
    <div class="py-4 text-gray-200">
        <p>CCPA Privacy Notice:</p><br>
         <p>The California Code of Regulations defines a "resident" as:</p><br>
         <ol>
            <li> 1-every individual who is in the State of California for other than a temporary or transitory purpose and</li>
            <li>2-every individual who is domiciled in the State of California who is outside the State of California for a temporary or transitory purpose</li>
        </ol>
        <p>All other individuals are defined as "non-residents."</p><br>
        <p>If this definition of "resident" applies to you, we must adhere to certain rights and obligations regarding your personal information.</p><br>
        <p>What categories of personal information do we collect?</p><br>
        <p>We have collected the following categories of personal information in the past twelve (12) months:</p>
    </div>
    <div
    class="mt-6 lg:mt-0 rounded shadow overflow-hidden bg-white shadow-dashboard pt-3 rounded-bl-lg rounded-br-lg pb-5">
    
    <div class="align-middle inline-block min-w-full overflow-hidden bg-white px-5 pt-3">
        <table class="min-w-full" aria-labelledby="privacy-policy">
            <thead>
                <tr>
                    <th id="a"
                        class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 text-gray-200 tracking-wider">
                        Category</th>
                    <th id="b"
                        class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 text-gray-200 tracking-wider">
                        Examples</th>
                    <th id="c"
                        class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 text-gray-200 tracking-wider">
                        Collected</th>
                    
                </tr>
            </thead>
            <tbody class="bg-white">
                <tr>
                    <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-500">
                        <div class="flex items-center">
                            
                            <div class="text-sm">
                                <p class="text-gray-300 leading-none">A. Identifiers</p>
                            </div>
                        </div>
                    </td>
                    <td class="px-6 py-4 whitespace-no-wrap border-b text-blue-900 border-gray-500 text-sm leading-5">
                        Contact details, such as real name, alias, postal address, telephone or mobile contact number, unique personal identifier, online identifier, Internet Protocol address, email address and account name</td>
                    <td class="px-6 py-4 whitespace-no-wrap border-b text-blue-900 border-gray-500 text-sm leading-5">
                        NO</td>

                </tr>
                <tr>
                    <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-500">
                        <div class="flex items-center cursor-pointer" >
                           
                            <div class="text-sm">
                                <p class="text-gray-300 leading-none">B. Personal information categories listed in the California Customer Records statute</p>
                            </div>
                        </div>
                    </td>
                    <td class="px-6 py-4 whitespace-no-wrap border-b text-blue-900 border-gray-500 text-sm leading-5">
                        Name, contact information, education, employment, employment history and financial information</td>
                    <td class="px-6 py-4 whitespace-no-wrap border-b text-blue-900 border-gray-500 text-sm leading-5">
                        YES</td>                    
                </tr>
                <tr>
                    <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-500">
                        <div class="flex items-center cursor-pointer" >
                           
                            <div class="text-sm">
                                <p class="text-gray-300 leading-none">C. Protected classification characteristics under California or federal law</p>
                            </div>
                        </div>
                    </td>
                    <td class="px-6 py-4 whitespace-no-wrap border-b text-blue-900 border-gray-500 text-sm leading-5">
                        Gender and date of birth</td>
                    <td class="px-6 py-4 whitespace-no-wrap border-b text-blue-900 border-gray-500 text-sm leading-5">
                        NO</td>                    
                </tr>
                <tr>
                    <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-500">
                        <div class="flex items-center cursor-pointer" >
                           
                            <div class="text-sm">
                                <p class="text-gray-300 leading-none">D. Commercial information</p>
                            </div>
                        </div>
                    </td>
                    <td class="px-6 py-4 whitespace-no-wrap border-b text-blue-900 border-gray-500 text-sm leading-5">
                        Transaction information, purchase history, financial details and payment information</td>
                    <td class="px-6 py-4 whitespace-no-wrap border-b text-blue-900 border-gray-500 text-sm leading-5">
                        NO</td>                    
                </tr>
                <tr>
                    <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-500">
                        <div class="flex items-center cursor-pointer" >
                           
                            <div class="text-sm">
                                <p class="text-gray-300 leading-none">E. Biometric information</p>
                            </div>
                        </div>
                    </td>
                    <td class="px-6 py-4 whitespace-no-wrap border-b text-blue-900 border-gray-500 text-sm leading-5">
                        Fingerprints and voiceprints</td>
                    <td class="px-6 py-4 whitespace-no-wrap border-b text-blue-900 border-gray-500 text-sm leading-5">
                        NO</td>                    
                </tr>
<!-- f -->
<tr>
    <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-500">
        <div class="flex items-center cursor-pointer" >
           
            <div class="text-sm">
                <p class="text-gray-300 leading-none"> Internet or other similar network activity</p>
            </div>
        </div>
    </td>
    <td class="px-6 py-4 whitespace-no-wrap border-b text-blue-900 border-gray-500 text-sm leading-5">
        Browsing history, search history, online behavior, interest data, and interactions with our and other websites, applications, systems and advertisements</td>
    <td class="px-6 py-4 whitespace-no-wrap border-b text-blue-900 border-gray-500 text-sm leading-5">
        NO</td>                    
</tr>
<!-- g -->
<tr>
    <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-500">
        <div class="flex items-center cursor-pointer" >
           
            <div class="text-sm">
                <p class="text-gray-300 leading-none">G. Geolocation data</p>
            </div>
        </div>
    </td>
    <td class="px-6 py-4 whitespace-no-wrap border-b text-blue-900 border-gray-500 text-sm leading-5">
        Device location</td>
    <td class="px-6 py-4 whitespace-no-wrap border-b text-blue-900 border-gray-500 text-sm leading-5">
        NO</td>                    
</tr>
<!-- h -->
<tr>
    <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-500">
        <div class="flex items-center cursor-pointer" >
           
            <div class="text-sm">
                <p class="text-gray-300 leading-none">H. Audio, electronic, visual,thermal, olfactory, or similar information</p>
            </div>
        </div>
    </td>
    <td class="px-6 py-4 whitespace-no-wrap border-b text-blue-900 border-gray-500 text-sm leading-5">
        Images and audio, video or call recordings created in connection with our business activities</td>
    <td class="px-6 py-4 whitespace-no-wrap border-b text-blue-900 border-gray-500 text-sm leading-5">
        NO</td>                    
</tr>
<!-- i -->
<tr>
    <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-500">
        <div class="flex items-center cursor-pointer" >
           
            <div class="text-sm">
                <p class="text-gray-300 leading-none">I. Professional or employment-related information</p>
            </div>
        </div>
    </td>
    <td class="px-6 py-4 whitespace-no-wrap border-b text-blue-900 border-gray-500 text-sm leading-5">
        Business contact details in order to provide you our services at a business level, job title as well as work history and professional qualifications if you apply for a job with us</td>
    <td class="px-6 py-4 whitespace-no-wrap border-b text-blue-900 border-gray-500 text-sm leading-5">
        NO</td>                    
</tr>
<!-- j -->
<tr>
    <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-500">
        <div class="flex items-center cursor-pointer" >
           
            <div class="text-sm">
                <p class="text-gray-300 leading-none">J. Education Information</p>
            </div>
        </div>
    </td>
    <td class="px-6 py-4 whitespace-no-wrap border-b text-blue-900 border-gray-500 text-sm leading-5">
        Student records and directory information</td>
    <td class="px-6 py-4 whitespace-no-wrap border-b text-blue-900 border-gray-500 text-sm leading-5">
        NO</td>                    
</tr>
<!-- k -->
<tr>
    <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-500">
        <div class="flex items-center cursor-pointer" >
           
            <div class="text-sm">
                <p class="text-gray-300 leading-none">K. Inferences drawn from other personal information</p>
            </div>
        </div>
    </td>
    <td class="px-6 py-4 whitespace-no-wrap border-b text-blue-900 border-gray-500 text-sm leading-5">
        Inferences drawn from any of the collected personal information listed above to create a profile or summary about, for example, an individual’s preferences and characteristics</td>
    <td class="px-6 py-4 whitespace-no-wrap border-b text-blue-900 border-gray-500 text-sm leading-5">
        NO</td>                    
</tr>
            </tbody>
        </table>
        <br>
    <div class="text-gray-200">
        <p>We may also collect other personal information outside of these categories instances where you interact with us in-person, online, or by phone or mail in the context of:</p>
        <ul>
          <li>Receiving help through our customer support channels;</li>
          <li>Participation in customer surveys or contests; and</li>
          <li>Facilitation in the delivery of our Services and to respond to your inquiries.</li>

        </ul>
        <p>How do we use and share your personal information?</p><br>
        <p>More information about our data collection and sharing practices can be found in this privacy notice.</p><br>
        <p>You may contact us by email at paddle.business@gmail.com, or by referring to the contact details at the bottom of this document.</p>
        <p>If you are using an authorized agent to exercise your right to opt-out we may deny a request if the authorized agent does not submit proof that they have been validly authorized to act on your behalf.</p><br>
        <p>Will your information be shared with anyone else?</p>
        <p>We may disclose your personal information with our service providers pursuant to a written contract between us and each service provider. Each service provider is a for-profit entity that processes the information on our behalf.</p><br>
        <p>We may use your personal information for our own business purposes, such as for undertaking internal research for technological development and demonstration. This is not considered to be "selling" of your personal data.</p><br>
        <p>Paddle LLC has not disclosed or sold any personal information to third parties for a business or commercial purpose in the preceding 12 months. Paddle LLC will not sell personal information in the future belonging to website visitors, users and other consumers.</p><br>
        <p>Your rights with respect to your personal data</p><br>
        <u>Right to request deletion of the data - Request to delete</u><br>
        <p>You can ask for the deletion of your personal information. If you ask us to delete your personal information, we will respect your request and delete your personal information, subject to certain exceptions provided by law, such as (but not limited to) the exercise by another consumer of his or her right to free speech, our compliance requirements resulting from a legal obligation or any processing that may be required to protect against illegal activities.</p><br>
        <u>Right to be informed - Request to know</u><br>
        <p>Depending on the circumstances, you have a right to know:</p>
        <ol>
            <li>whether we collect and use your personal information;</li>
            <li>the categories of personal information that we collect;</li>
            <li>the purposes for which the collected personal information is used;</li>
            <li>whether we sell your personal information to third parties;</li>
            <li>the categories of personal information that we sold or disclosed for a business purpose;</li>
            <li>the categories of third parties to whom the personal information was sold or disclosed for a business purpose; and</li>
            <li>the business or commercial purpose for collecting or selling personal information.</li>

        </ol>
        <br>
<p>In accordance with applicable law, we are not obligated to provide or delete consumer information that is de-identified in response to a consumer request or to re-identify individual data to verify a consumer request.</p>
<p><strong>Right to Non-Discrimination for the Exercise of a Consumer’s Privacy Rights</strong>
    We will not discriminate against you if you exercise your privacy rights.</p>

 <p><strong>Verification process</strong>Upon receiving your request, we will need to verify your identity to determine you are the same person about whom we have the information in our system. These verification efforts require us to ask you to provide information so that we can match it with information you have previously provided us. For instance, depending on the type of request you submit, we may ask you to provide certain information so that we can match the information you provide with the information we already have on file, or we may contact you through a communication method (e.g. phone or email) that you have previously provided to us. We may also use other verification methods as the circumstances dictate.</p><br>
 <p>We will only use personal information provided in your request to verify your identity or authority to make the request. To the extent possible, we will avoid requesting additional information from you for the purposes of verification. If, however, we cannot verify your identity from the information already maintained by us, we may request that you provide additional information for the purposes of verifying your identity, and for security or fraud-prevention purposes. We will delete such additionally provided information as soon as we finish verifying you.</p>
 <p><strong>Other privacy rights</strong></p>  
 <ol>
     <li>you may object to the processing of your personal data</li>
     <li>you may request correction of your personal data if it is incorrect or no longer relevant, or ask to restrict the processing of the data</li>
     <li>you can designate an authorized agent to make a request under the CCPA on your behalf. We may deny a request from an authorized agent that does not submit proof that they have been validly authorized to act on your behalf in accordance with the CCPA.</li>
     <li>you may request to opt-out from future selling of your personal information to third parties. Upon receiving a request to opt-out, we will act upon the request as soon as feasibly possible, but no later than 15 days from the date of the request submission.</li>

 </ol> 
 <p>To exercise these rights, you can contact us by email at paddle.business@gmail.com, or by referring to the contact details at the bottom of this document. If you have a complaint about how we handle your data, we would like to hear from you.  </p>   


    </div>    
    </div>
</div>
   
</div>
<!-- ---------------- -->
<!-- --------------------------------------------- -->
<div class="flex flex-col text-base mb-6">
    <h4 class="title mb-3 font-semibold text-lg">12. HOW CAN YOU CONTACT US ABOUT THIS NOTICE?  </h4>
    <div class="description text-gray-200">
      <p>
        If you have questions or comments about this notice, you may contact our Data Protection Officer (DPO), Nicholas Cerofeci, by email at paddle.business@gmail.com, or by post to:
<br><br>
Paddle LLC
<br>
Nicholas Cerofeci
<br>
CA
<br>
United States
<br><br>
If you have any further questions or comments, you may also contact us by post at the following corporate address:
<br><br><br>
Paddle LLC
<br>
CA
<br>
United States
<br>
Phone: 3104698765

      </p>
      
    </div>
</div>
<!-- -------------------- -->
<div class="flex flex-col text-base mb-6">
    <h4 class="title mb-3 font-semibold text-lg">13. HOW CAN YOU REVIEW, UPDATE, OR DELETE THE DATA WE COLLECT FROM YOU?  </h4>
    <div class="description text-gray-200">
      <p>
        Based on the applicable laws of your country, you may have the right to request access to the personal information we collect from you, change that information, or delete it in some circumstances. To request to review, update, or delete your personal information, please submit a request form by clicking here.
This privacy policy was created using Termly’s Privacy Policy Generator.</p>
    </div>
</div>
  </div>
  </div>