<div class="flex flex-wrap">
  <div class=" w-full md:w-1/2 lg:w-1/3 p-5">
    <!-- card -->
    <div class="card h-48 bg-blue-100 rounded-lg p-6">
      <div class="flex flex-row h-full items-end">
        <div class="flex-1 text-left">
          <h3 class="font-bold text-4xl leading-none">60</h3>
          <h5 class="text-xl text-gray-200">Total Doctors</h5>
        </div>
        <div class="flex-shrink pr-4 mb-auto">
          <div class="rounded-full p-4 bg-blue-500">
            <svg viewBox="0 0 20 20" fill="currentColor" class="text-white user w-8 h-8"><path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"></path></svg>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-full md:w-1/2 lg:w-1/3 p-5">
    <!-- card -->
    <div class="card h-48 bg-pink-100 rounded-lg p-6">
      <div class="flex flex-row h-full items-end">
        <div class="flex-1 text-left">
          <h3 class="font-bold text-4xl leading-none">16</h3>
          <h5 class="text-xl text-gray-200">Total Users</h5>
        </div>
        <div class="flex-shrink pr-4 mb-auto">
          <div class="rounded-full p-4 bg-pink-500">
            <svg viewBox="0 0 20 20" fill="currentColor" class="text-white user-group w-8 h-8"><path d="M13 6a3 3 0 11-6 0 3 3 0 016 0zM18 8a2 2 0 11-4 0 2 2 0 014 0zM14 15a4 4 0 00-8 0v3h8v-3zM6 8a2 2 0 11-4 0 2 2 0 014 0zM16 18v-3a5.972 5.972 0 00-.75-2.906A3.005 3.005 0 0119 15v3h-3zM4.75 12.094A5.973 5.973 0 004 15v3H1v-3a3 3 0 013.75-2.906z"></path></svg>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-full md:w-1/2 lg:w-1/3 p-5">
    <!-- card -->
    <div class="card h-48 bg-gray-100 rounded-lg p-6">
      <div class="flex flex-row h-full items-end">
        <div class="flex-1 text-left">
          <h3 class="font-bold text-4xl leading-none">43</h3>
          <h5 class="text-xl text-gray-200">Total Ads View</h5>
        </div>
        <div class="flex-shrink pr-4 mb-auto">
          <div class="rounded-full p-4 bg-gray-200">
            <svg viewBox="0 0 20 20" fill="currentColor" class="text-white library w-8 h-8"><path fill-rule="evenodd" d="M10.496 2.132a1 1 0 00-.992 0l-7 4A1 1 0 003 8v7a1 1 0 100 2h14a1 1 0 100-2V8a1 1 0 00.496-1.868l-7-4zM6 9a1 1 0 00-1 1v3a1 1 0 102 0v-3a1 1 0 00-1-1zm3 1a1 1 0 012 0v3a1 1 0 11-2 0v-3zm5-1a1 1 0 00-1 1v3a1 1 0 102 0v-3a1 1 0 00-1-1z" clip-rule="evenodd"></path></svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>  