<div
  class="side-menu h-full fixed md:pt-20 bottom-0 md:min-h-screen overflow-x-scroll md:overflow-x-hidden  mt-20 border-gray-200 shadow-lg z-10 w-full md:w-64 md:pb-5">
  <div class="brand-logo justify-center hidden md:flex">
    <img class="w-32 h-32" src="assets/paddle.jpg" alt="Algoworks Logo">
  </div>
  <ul class="flex flex-row md:flex-col md:mt-5">
    <li class='nav-link md:py-1'>
      <a class="nav-text md:p-4 md:flex-row" routerLink="../pages/dashboard" routerLinkActive="active">
        <svg viewBox="0 0 20 20" fill="currentColor" class="chart-pie w-6 h-6">
          <path d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z"></path>
          <path d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z"></path>
        </svg>
        <span class='md:ml-3 whitespace-no-wrap block md:inline-block text-sm md:text-lg'>Analytics</span>
      </a>
    </li>
    <li class='nav-link md:py-1'>
      <a class="nav-text md:p-4 md:flex-row" routerLink="../pages/user" routerLinkActive="active">
        <svg viewBox="0 0 20 20" fill="currentColor" class="user-group w-6 h-6">
          <path
            d="M13 6a3 3 0 11-6 0 3 3 0 016 0zM18 8a2 2 0 11-4 0 2 2 0 014 0zM14 15a4 4 0 00-8 0v3h8v-3zM6 8a2 2 0 11-4 0 2 2 0 014 0zM16 18v-3a5.972 5.972 0 00-.75-2.906A3.005 3.005 0 0119 15v3h-3zM4.75 12.094A5.973 5.973 0 004 15v3H1v-3a3 3 0 013.75-2.906z">
          </path>
        </svg>
        <span class='md:ml-3 whitespace-no-wrap block md:inline-block text-sm md:text-lg'>Users</span>
      </a>
    </li>
    <li class='nav-link md:py-1'>
      <a class="nav-text md:p-4 md:flex-row" routerLink="../pages/university" routerLinkActive="active">
        <svg viewBox="0 0 20 20" fill="currentColor" class="user-group w-6 h-6">
          <path
            d="M10.394 2.08a1 1 0 00-.788 0l-7 3a1 1 0 000 1.84L5.25 8.051a.999.999 0 01.356-.257l4-1.714a1 1 0 11.788 1.838L7.667 9.088l1.94.831a1 1 0 00.787 0l7-3a1 1 0 000-1.838l-7-3zM3.31 9.397L5 10.12v4.102a8.969 8.969 0 00-1.05-.174 1 1 0 01-.89-.89 11.115 11.115 0 01.25-3.762zM9.3 16.573A9.026 9.026 0 007 14.935v-3.957l1.818.78a3 3 0 002.364 0l5.508-2.361a11.026 11.026 0 01.25 3.762 1 1 0 01-.89.89 8.968 8.968 0 00-5.35 2.524 1 1 0 01-1.4 0zM6 18a1 1 0 001-1v-2.065a8.935 8.935 0 00-2-.712V17a1 1 0 001 1z" />
        </svg>
        <span class='md:ml-3 whitespace-no-wrap block md:inline-block text-sm md:text-lg'>Universities</span>
      </a>
    </li>
    <li class='nav-link md:py-1'>
      <a class="nav-text md:p-4 md:flex-row" routerLink="../pages/songs" routerLinkActive="active">
        <svg viewBox="0 0 20 20" fill="currentColor" class="user-group w-6 h-6">
          <path
            d="M18 3a1 1 0 00-1.196-.98l-10 2A1 1 0 006 5v9.114A4.369 4.369 0 005 14c-1.657 0-3 .895-3 2s1.343 2 3 2 3-.895 3-2V7.82l8-1.6v5.894A4.37 4.37 0 0015 12c-1.657 0-3 .895-3 2s1.343 2 3 2 3-.895 3-2V3z" />
        </svg>
        <span class='md:ml-3 whitespace-no-wrap block md:inline-block text-sm md:text-lg'>Songs</span>
      </a>
    </li>
    <li class='nav-link md:py-1'>
      <a class="nav-text md:p-4 md:flex-row" routerLink="../pages/edit-admin-profile" routerLinkActive="active">
        <svg viewBox="0 0 20 20" fill="currentColor" class="user-circle w-6 h-6">
          <path fill-rule="evenodd"
            d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-6-3a2 2 0 11-4 0 2 2 0 014 0zm-2 4a5 5 0 00-4.546 2.916A5.986 5.986 0 0010 16a5.986 5.986 0 004.546-2.084A5 5 0 0010 11z"
            clip-rule="evenodd" />
        </svg>
        <span class='md:ml-3 whitespace-no-wrap block md:inline-block text-sm md:text-lg'>My Profile</span>
      </a>
    </li>
    <!-- <li class='nav-link md:py-3 pr-4 md:pr-0'>
        <a class="nav-text md:p-4 md:flex-row" routerLink="../pages/order-details" routerLinkActive="active">
          <svg viewBox="0 0 20 20" fill="currentColor" class="support w-6 h-6"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-2 0c0 .993-.241 1.929-.668 2.754l-1.524-1.525a3.997 3.997 0 00.078-2.183l1.562-1.562C15.802 8.249 16 9.1 16 10zm-5.165 3.913l1.58 1.58A5.98 5.98 0 0110 16a5.976 5.976 0 01-2.516-.552l1.562-1.562a4.006 4.006 0 001.789.027zm-4.677-2.796a4.002 4.002 0 01-.041-2.08l-.08.08-1.53-1.533A5.98 5.98 0 004 10c0 .954.223 1.856.619 2.657l1.54-1.54zm1.088-6.45A5.974 5.974 0 0110 4c.954 0 1.856.223 2.657.619l-1.54 1.54a4.002 4.002 0 00-2.346.033L7.246 4.668zM12 10a2 2 0 11-4 0 2 2 0 014 0z" clip-rule="evenodd"></path></svg>
          <span class='md:ml-3 whitespace-no-wrap block md:inline-block text-sm md:text-lg'>Order Details</span>
        </a>
      </li>
      <li class='nav-link md:py-3 pr-4 md:pr-0'>
        <a class="nav-text md:p-4 md:flex-row" routerLink="../pages/notifications" routerLinkActive="active">
          <svg viewBox="0 0 20 20" fill="currentColor" class="bell w-6 h-6"><path d="M10 2a6 6 0 00-6 6v3.586l-.707.707A1 1 0 004 14h12a1 1 0 00.707-1.707L16 11.586V8a6 6 0 00-6-6zM10 18a3 3 0 01-3-3h6a3 3 0 01-3 3z"></path></svg>
          <span class='md:ml-3 whitespace-no-wrap block md:inline-block text-sm md:text-lg'>Push Notification</span>
        </a>
      </li>
      <li class='nav-link md:py-3'>
        <a class="nav-text md:p-4 md:flex-row" routerLink="../pages/notifications" routerLinkActive="active">
          <svg viewBox="0 0 20 20" fill="currentColor" class="mail w-6 h-6"><path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"></path><path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path></svg>
          <span class='md:ml-3 whitespace-no-wrap block md:inline-block text-sm md:text-lg'>Email Notification</span>
        </a>
      </li>
      <li class='nav-link md:py-3 pr-4 md:pr-0'>
        <a class="nav-text md:p-4 md:flex-row" routerLink="../pages/support-request" routerLinkActive="active">
          <svg viewBox="0 0 20 20" fill="currentColor" class="support w-6 h-6"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-2 0c0 .993-.241 1.929-.668 2.754l-1.524-1.525a3.997 3.997 0 00.078-2.183l1.562-1.562C15.802 8.249 16 9.1 16 10zm-5.165 3.913l1.58 1.58A5.98 5.98 0 0110 16a5.976 5.976 0 01-2.516-.552l1.562-1.562a4.006 4.006 0 001.789.027zm-4.677-2.796a4.002 4.002 0 01-.041-2.08l-.08.08-1.53-1.533A5.98 5.98 0 004 10c0 .954.223 1.856.619 2.657l1.54-1.54zm1.088-6.45A5.974 5.974 0 0110 4c.954 0 1.856.223 2.657.619l-1.54 1.54a4.002 4.002 0 00-2.346.033L7.246 4.668zM12 10a2 2 0 11-4 0 2 2 0 014 0z" clip-rule="evenodd"></path></svg>
          <span class='md:ml-3 whitespace-no-wrap block md:inline-block text-sm md:text-lg'>Support Request</span>
        </a>
      </li>
    
      <li class='nav-link md:py-3 pr-4 md:pr-0'>
        <a class="nav-text md:p-4 md:flex-row" routerLink="../pages/terms-conditions" routerLinkActive="active">
          <svg viewBox="0 0 20 20" fill="currentColor" class="clipboard-list w-6 h-6"><path d="M9 2a1 1 0 000 2h2a1 1 0 100-2H9z"></path><path fill-rule="evenodd" d="M4 5a2 2 0 012-2 3 3 0 003 3h2a3 3 0 003-3 2 2 0 012 2v11a2 2 0 01-2 2H6a2 2 0 01-2-2V5zm3 4a1 1 0 000 2h.01a1 1 0 100-2H7zm3 0a1 1 0 000 2h3a1 1 0 100-2h-3zm-3 4a1 1 0 100 2h.01a1 1 0 100-2H7zm3 0a1 1 0 100 2h3a1 1 0 100-2h-3z" clip-rule="evenodd"></path></svg>
          <span class='md:ml-3 whitespace-no-wrap block md:inline-block text-sm md:text-lg'>Terms & Conditions</span>
        </a>
      </li>
      <li class='nav-link md:py-3'>
        <a class="nav-text md:p-4 md:flex-row" routerLink="../pages/terms-conditions" routerLinkActive="active">
          <svg viewBox="0 0 20 20" fill="currentColor" class="clipboard-check w-6 h-6"><path d="M9 2a1 1 0 000 2h2a1 1 0 100-2H9z"></path><path fill-rule="evenodd" d="M4 5a2 2 0 012-2 3 3 0 003 3h2a3 3 0 003-3 2 2 0 012 2v11a2 2 0 01-2 2H6a2 2 0 01-2-2V5zm9.707 5.707a1 1 0 00-1.414-1.414L9 12.586l-1.293-1.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
          <span class='md:ml-3 whitespace-no-wrap block md:inline-block text-sm md:text-lg'>Privacy Policies</span>
        </a>
      </li>
      <li class='nav-link md:py-3'>
        <a class="nav-text md:p-4 md:flex-row" routerLink="../pages/FAQ" routerLinkActive="active">
          <svg viewBox="0 0 20 20" fill="currentColor" class="clipboard-list w-6 h-6"><path d="M9 2a1 1 0 000 2h2a1 1 0 100-2H9z"></path><path fill-rule="evenodd" d="M4 5a2 2 0 012-2 3 3 0 003 3h2a3 3 0 003-3 2 2 0 012 2v11a2 2 0 01-2 2H6a2 2 0 01-2-2V5zm3 4a1 1 0 000 2h.01a1 1 0 100-2H7zm3 0a1 1 0 000 2h3a1 1 0 100-2h-3zm-3 4a1 1 0 100 2h.01a1 1 0 100-2H7zm3 0a1 1 0 100 2h3a1 1 0 100-2h-3z" clip-rule="evenodd"></path></svg>
          <span class='md:ml-3 whitespace-no-wrap block md:inline-block text-sm md:text-lg'>FAQ</span>
        </a>
      </li> -->
  </ul>
</div>