<div
    class="mt-6 lg:mt-0 rounded shadow overflow-hidden bg-white shadow-dashboard pt-3 rounded-bl-lg rounded-br-lg pb-5">
    <!-- <h3 class="font-bold text-gray-400 text-lg mb-6 px-4">Filter Data</h3> -->
   

    <!-- Table -->
    <div class="flex justify-between items-baseline px-5 ">
      <h3 class="text-2xl text-gray-400 font-bold mb-6">Most Liked/Shared Artists</h3>
      <div class="">
        <div class="pt-2 relative mx-auto text-gray-600">
            <div class='flex flex-row p-4'>
                <form class="w-full max-w-full">
                    <div class="flex flex-wrap -mx-3 mb-6">
                      <div class="relative inline-flex">
                        <svg class="w-2 h-2 absolute top-0 right-0 m-4 pointer-events-none"  viewBox="0 0 412 232"><path d="M206 171.144L42.678 7.822c-9.763-9.763-25.592-9.763-35.355 0-9.763 9.764-9.763 25.592 0 35.355l181 181c4.88 4.882 11.279 7.323 17.677 7.323s12.796-2.441 17.678-7.322l181-181c9.763-9.764 9.763-25.592 0-35.355-9.763-9.763-25.592-9.763-35.355 0L206 171.144z" fill="#648299" fill-rule="nonzero"/></svg>
                        <select class="border border-gray-300 rounded-full text-gray-600 h-10 pl-5 pr-10 bg-white hover:border-gray-400 focus:outline-none appearance-none"
                        (change)="selectType($event)">
                          <!-- <option selected disabled>Choose a type</option> -->
                          <option value="1">Monthly</option>
                          <option value="2" selected>Total</option>
        
                          <!-- <option *ngFor="let university of universityListData"  [value]="university?.id">{{university?.name}}</option> -->
                        </select>
                      </div>
        
                        <div class="relative inline-flex" >
                            <svg class="w-2 h-2 absolute top-0 right-0 m-4 pointer-events-none"  viewBox="0 0 412 232"><path d="M206 171.144L42.678 7.822c-9.763-9.763-25.592-9.763-35.355 0-9.763 9.764-9.763 25.592 0 35.355l181 181c4.88 4.882 11.279 7.323 17.677 7.323s12.796-2.441 17.678-7.322l181-181c9.763-9.764 9.763-25.592 0-35.355-9.763-9.763-25.592-9.763-35.355 0L206 171.144z" fill="#648299" fill-rule="nonzero"/></svg>
                            <select class="border border-gray-300 rounded-full text-gray-600 h-10 pl-5 pr-10 bg-white hover:border-gray-400 focus:outline-none appearance-none"
                            (change)="selectUniversity($event)">
                              <option selected value="0" >All</option>
                              <option *ngFor="let university of universityListData"   [value]="university?.id">{{university?.name}}</option>
                            </select>
                          </div>
                        
                        <!-- <div class="relative inline-flex ">
                            <svg class="w-2 h-2 absolute top-0 right-0 m-4 pointer-events-none"  viewBox="0 0 412 232"><path d="M206 171.144L42.678 7.822c-9.763-9.763-25.592-9.763-35.355 0-9.763 9.764-9.763 25.592 0 35.355l181 181c4.88 4.882 11.279 7.323 17.677 7.323s12.796-2.441 17.678-7.322l181-181c9.763-9.764 9.763-25.592 0-35.355-9.763-9.763-25.592-9.763-35.355 0L206 171.144z" fill="#648299" fill-rule="nonzero"/></svg>
                            <select class="border border-gray-300 rounded-full text-gray-600 h-10 pl-5 pr-10 bg-white hover:border-gray-400 focus:outline-none appearance-none"
                            (change)="selectMediaType($event)">
                              <option *ngFor="let media of MEDIA_TYPES;let i = index"  [value]="media?.id" [selected]="i==0">{{media?.type}}</option>
                              
                            </select>
                          </div> -->
                          <ng-container *ngIf="typeId == 1">
                          <div class="relative inline-flex ">
                            <svg class="w-2 h-2 absolute top-0 right-0 m-4 pointer-events-none"  viewBox="0 0 412 232"><path d="M206 171.144L42.678 7.822c-9.763-9.763-25.592-9.763-35.355 0-9.763 9.764-9.763 25.592 0 35.355l181 181c4.88 4.882 11.279 7.323 17.677 7.323s12.796-2.441 17.678-7.322l181-181c9.763-9.764 9.763-25.592 0-35.355-9.763-9.763-25.592-9.763-35.355 0L206 171.144z" fill="#648299" fill-rule="nonzero"/></svg>
                            <select class="border border-gray-300 rounded-full text-gray-600 h-10 pl-5 pr-10 bg-white hover:border-gray-400 focus:outline-none appearance-none"
                            (change)="selectMonth($event)">
                              <!-- <option selected disabled>Choose a month</option> -->
                              <option *ngFor="let month of MONTHS ; let i = index"  [value]="month?.id" [selected]="i == getDate().month">{{month?.name}}</option>
                              
                            </select>
                          </div>
                          <div class="relative inline-flex ">
                            <svg class="w-2 h-2 absolute top-0 right-0 m-4 pointer-events-none"  viewBox="0 0 412 232"><path d="M206 171.144L42.678 7.822c-9.763-9.763-25.592-9.763-35.355 0-9.763 9.764-9.763 25.592 0 35.355l181 181c4.88 4.882 11.279 7.323 17.677 7.323s12.796-2.441 17.678-7.322l181-181c9.763-9.764 9.763-25.592 0-35.355-9.763-9.763-25.592-9.763-35.355 0L206 171.144z" fill="#648299" fill-rule="nonzero"/></svg>
                            <select class="border border-gray-300 rounded-full text-gray-600 h-10 pl-5 pr-10 bg-white hover:border-gray-400 focus:outline-none appearance-none"
                            (change)="selectYear($event)">
                              <!-- <option selected disabled>Choose a year</option> -->
                              <option *ngFor="let year of YEARS ; ; let i = index"  [value]="year?.value" [selected]="year?.value == getDate().year">{{year?.value}}</option>
                              
                            </select>
                          </div>
                        </ng-container> 
                        <div class="w-full md:w-1/4 px-4">
                            <div class="w-full flex items-center justify-center">
                                <button
                                    class="shadow bg-blue-500 hover:bg-blue-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                                    type="button" (click)="getFilterData()">
                                    Filter
                                </button>
                            </div>
                        </div> 
                       
                          
                        
                          
                        
                      
                    </div>
                  
                </form>
            </div>
        </div>
    </div>
  </div>

  <div class="align-middle inline-block min-w-full md:overflow-hidden bg-white px-5 pt-3">
    <div class="">
        <table class="md:min-w-full">
            <thead>
                <tr>
                   
                    <th
                    class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 text-gray-200 tracking-wider">
                    </th>
                    <th
                    class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 text-gray-200 tracking-wider">
                    Artist Name</th>
                    <th
                    class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 text-gray-200 tracking-wider">
                    Caption</th>
                   
                    <th
                        class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 text-gray-200 tracking-wider">
                        Like Count</th>
                        <th
                        class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 text-gray-200 tracking-wider">
                        Share Count</th>
                        <!-- <th
                        class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 text-gray-200 tracking-wider">
                        Created At</th> -->
                    
                </tr>
            </thead>
            <tbody class="bg-white">
              <!--  -->
                <tr *ngFor="let row of dataSource?.data;let i = index">
                   
                    <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-500">
                        <div class="flex items-center cursor-pointer">
                            <img class="w-10 h-10 rounded-full mr-4" [src]="(row?.media_image)?(row.media_image):('assets/photo.png')"
                                alt='avatar'>
                            <!-- <div class="text-sm">
                                <p class="text-gray-300 leading-none">1</p>
                            </div> -->
                        </div>
                    </td>
                    <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-500">
                        <div class="flex items-center cursor-pointer" >
                            <!-- <img class="w-10 h-10 rounded-full mr-4" src="assets/photo.png"
                                alt="Avatar of Jonathan Reinink"> -->
                            <div class="text-sm">
                                <p class="text-gray-300 leading-none">{{row?.media_name}}</p>
                            </div>
                        </div>
                    </td>
                    <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-500">
                        <div class="flex items-center cursor-pointer" >
                           
                            <div class="text-sm">
                                <p class="text-gray-300 leading-none">{{row?.caption}}</p>
                            </div>
                        </div>
                    </td>
                    <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-500">
                        <div class="flex items-center cursor-pointer">
                            <!-- <img class="w-10 h-10 rounded-full mr-4" src="assets/photo.png"
                                alt="Avatar of Jonathan Reinink"> -->
                            <div class="text-sm">
                                <p class="text-gray-300 leading-none">{{row?.likeCount}}</p>
                            </div>
                        </div>
                    </td>
                    <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-500">
                        <div class="flex items-center cursor-pointer" >
                           
                            <div class="text-sm">
                                <p class="text-gray-300 leading-none">{{row?.shareCount}}</p>
                            </div>
                        </div>
                    </td>
                    <!-- <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-500">
                        <div class="flex items-center cursor-pointer" >
                           
                            <div class="text-sm">
                                <p class="text-gray-300 leading-none">{{row?.created_at | date :'mediumDate'}}</p>
                            </div>
                        </div>
                    </td> -->
                  
                </tr>
               
            </tbody>
        </table>
    </div>
    <div class="sm:flex-1 sm:flex sm:items-center sm:justify-between mt-4 work-sans">
        <div>
          
        </div>
        <div>
            
            <mat-paginator #paginator [hidden]="dataSource?.filteredData?.length === 0"  
            (page)='pageChange($event)' [length]="totalCount" [pageSizeOptions]="[10]"  showFirstLastButtons >
            </mat-paginator>
           
        </div>
    </div>
</div>
   
</div>